<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Web Portfolio of Benjamin Salazar" />
        <meta name="keywords" content="your, meta, keywords, go, here" />
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/anim.css' %}" />
        <link href="https://fonts.googleapis.com/css?family=Lato:300|Open+Sans+Condensed:300"
              rel="stylesheet"
              type="text/css">
        <title>Document</title>
    </head>
    <body>
        <div class="background">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="landing-page">
            <div class="nav-container">
                <div class="row">
                    <a class="col-sm" id="semi-transparent-button"  href="#">Home</a>
                    <a class="col-sm" id="semi-transparent-button"  href="#">About Me</a>
                    <a class="col-sm" id="semi-transparent-button"  href="#">Projects</a>
                    <a class="col-sm" id="semi-transparent-button"  href="#">Contact</a>
                </div>
            </div>
            <div class="name-role">
                <h1>Hi! I'm Benjamin</h1>
                <h2>I'm a Full Stack Developer</h2>
            </div>
        </div>
        <div id="about-me"></div>
        <div id="projects"></div>
        <div id="contact"></div>
        <div id="resume"></div>
		
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>
